@font-face {
  font-family: "Caskaydia Cove";
  src: url("./fonts/CaskaydiaCove.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Caskaydia Cove", "Times New Roman";
}
